@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

html, body, #root {
	height: 100%;
}

body {
	font-family: "Roboto", sans-serif;
	color: #FFF;
	overflow: hidden;
}

.container {
	display: flex;
	height: 100%;
	justify-content: space-between;
	overflow: hidden;
}